:root{
    --green: rgb(97, 124, 101);
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

html, body{
   
    font-size: 62,5%;

}
html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--dark);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--green);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;

}
section{
    padding:5rem 10%;
 }

.header-navbar{

    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color:transparent;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between; 
 }

 .header-navbar .site-brand{
    margin-left:2rem;
    color:#fff;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
}
.site-brand span{
    font-weight: 400;
}

.header-navbar .navbar a{
    color: var(--light-grey);
    font-size: 1.5rem;
    padding: .5rem;
    margin-left: 1rem;
}

.header-navbar .navbar a:hover{
    color: var(--green);
    background-color: var(--light-grey);

}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--light-grey);
    display: none;
 }
 
.active-page{
    color: var(--green) !important;
    background-color: #fff;
}

/* header */
.home-section{
    overflow: hidden;
    margin-bottom: 3rem;
}

.home{
    margin-bottom: 1rem;
    position:absolute;
    top: 0; left: 0; right: 0;
    padding: 0;
    min-height: 60vh;
    padding-top: 7rem;
    background:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../Img/etno-srbija-bg.jpg)
    center/cover no-repeat;
    color:rgb(255, 255, 255);
   
}
.home .slide{
    text-align: center;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;

}


.header-title h1{
    font-size: 4rem;
    animation: bounce-in-top 1.1s both;
    display: block;
}

.header-title p{
    margin: 1.8rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.7;
    display: block;
}
button, input[type="submit"]{
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}


.header-form{
    background: rgba(0,0,0,0.5);
    padding: 3rem 0;
    border-radius: 3rem;
}
.header-form h3{
    font-size: 1.2rem;

}
.header-form form{
    flex-direction: column;
    margin-top: 1.8 rem;
}
.header-form form .form-control{
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}
.header-form input[type="date"]{
    text-transform: uppercase;
    opacity: 0.8;
}
.header-form input:not([type ="submit"])::placeholder{
    color: #fff;
    opacity: 0.8;

}

.form-control{
    flex-direction: column;
    width: 100%;
    margin: 0.6rem 0;
    max-width: 500px;
    border: 1px solid #fff;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Raleyway', sans-serif;
    color:#fff;
    background-color: transparent;
    box-sizing: border-box;
}

#myform .form-control:nth-child(3){
    max-width: 10rem !important;
}


@keyframes bounce-in-top {
    0%{
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40%{
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    60%{
        transform: translateY(-50px);
        animation-timing-function: ease-out;

    }
    80%{
        transform: translateY(0);
        animation-timing-function: ease-in;

    }
    90%{
        transform: translateY(-30px);
        animation-timing-function: ease-out;

    }
    95%{
        transform: translateY(-15px);
        animation-timing-function: ease-in;

    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-in;

    }
}
.btn{
    padding: 0.7rem 2.5rem;
    border-radius: 0.4rem;
    font-weight: 600;
    background-color: var(--green);
    color: #fff;
    border: 1px solid var(--green);
}
.btn:hover{
    opacity: 0.8;
    transition: var(--trans);
}

::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
.header-form .btn{
    margin-top: 0.8rem;
}

/* menja pozadinu na skrolovanje */
.navbar-cng{
    background-color: #fff !important;
    box-shadow: 0px 4px 5px 0px rgba(241, 241, 241, 0.2);
    transition: var(--trans);
}
.navbar-cng .site-brand{
    color:var(--dark) !important;

}
.navbar-cng .site-brand span{
    color:var(--green) !important;
}
.navbar-cng #menu-btn{
    color:var(--green)!important;
}

.navbar-cng  .navbar a{
    color: var(--dark) !important;
}
.navbar-cng  .navbar a:hover,.navbar-cng  .navbar .active-page{
    background-color: var(--green) !important;
    color: white !important;
}

.featured-places{
    background-color: var(--light-grey);

}
.lg-title{
    font-size:1.8rem;
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.sm-title{
    display: block;
    color: rgb(97, 124, 101);
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}
.featured-places .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 2rem;
}

.featured-places .box-container .box{
    position: relative;
    border: var(--green);
    box-shadow: var(--dark);
    margin-left:2rem;
    display: none;
    overflow: hidden;
}

.featured-places .box-container .box::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient( to bottom, transparent 0%, transparent 20%, rgba(0,0,0,0.7)
    99%, rgba(0,0,0,0.8) 100%);
}

.featured-places .box-container .box:hover .image img{
    transform: scale(1.1);
    filter: grayscale(60%);
 }
 
 .featured-places .box-container .box .image{
    height: 25rem;
 }

 .featured-places .box-container .box .image img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
 }
 .featured-places .box-container .box .content{
    position:absolute;
    bottom: 0;
    left:0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
    transform: translateY(50%);
    transition: 0.2s linear;
 }
 .featured-places .box-container .box .content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;

}
.featured-places .box-container .box .content .text{
    color: #fff;
    transition: var(--trans);
}
.featured-places .box-container .box:hover .content{
    transform: translateY(0);
}
.footer{
    border-top: solid 0.2rem var(--green);
    padding: 0;
    position: relative;
}
.footer::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;
    background: url(../Img/izlet.webp) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-top: 1px solid var(--dark);
    filter: grayscale(70%);
    z-index: -1;
 }
 #myfooter{
    margin-top: 0;
    display: block !important;
    align-content: center;
    padding-bottom: 2rem !important;
 }
 .footer .site-brand {
    margin-top: 2rem;
    margin-left: 2rem;
    color: coral;
    font-size: 2rem !important;
 }
 .footer .site-brand span{
    color: var(--green) !important;
 }
 .footer .text{
    margin-left: 2rem;
    font-size: 1rem !important;
    font-weight: 600!important;
    color: var(--light-grey);
 }
 .footer .box-container{
    margin-left: 2rem;
    margin-top: 1rem !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    max-height: fit-content;
 }
 
 .footer .box-container .box{
    margin: 0;
    padding: 0;
 }
 .footer .box-container .box h3{

    color:whitesmoke;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
 }
 
 .footer .box-container .box a{
    color:var(--light-grey);
    font-size: 1rem !important;
    padding-bottom: 1rem !important;
    display: block;
    padding-top: 0;
    margin-top: 0rem;
    max-width: 300px;
 }
 
 .footer .box-container .box a i{
    color:coral;
    padding-right: .5rem;
    transition: .2s linear;
    margin: 0;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }
 
 .footer .credit{
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 0.2rem solid var(--green);
    font-size: 1rem;
    color:var(--dark);
    background: var(--light-grey);
 }
 
 .footer .credit span{
    color:var(--green);
    text-transform: uppercase;
    font-weight: 600;
 }


@media (max-width: 768px) {
    #menu-btn {
        display:inline-block;
        transition: .2 linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header-navbar .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background-color: transparent!;
        border-top:solid 1px var(--light-grey);
        padding:1rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header-navbar .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
    }
    .header-navbar .navbar a{
        
        display: block;
        margin:1rem;
        text-align: center;
        color:var(--light-grey);
        padding-left:5rem;
        padding-right:5rem;
     }
}